h1{
    padding-top: 20px;
    color: rgb(212, 163, 115)
}

body{
    background-color: rgb(254, 250, 224);
}

p{
    font-weight: bold;
}

#textoDireita{
    text-align: right;
    border: 1px solid #a5a58d;
    border-radius: 10px;
    }

#textoEsquerda {
    padding-top: 10px;
    text-align: left;
    border: 1px solid #a5a58d;
    border-radius: 10px;
}